<!-- Footer -->
<footer
  class="page-footer font-small mdb-color darken-3 pt-4"
  style="margin: 20px auto;"
>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 cus-footer">
    © 2020 Copyright:
    <span class="m-4"> Solomon Omowuni</span>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
